body{
    background-color: #fef0e6
}
.page-footer,
nav,
.sidenav{
    /* background-color: #00e676; */
    /* background-color: #28beb5; */
    background-color: #0eb382;
    /* background-color: #00af7b */
}

.btn, .btn-large, .btn-small {
    background-color: #ff1744;
}

.search_form{
    background-color: rgba(0, 0, 0, 0)
}
.login_btn{
    margin-left: 2rem;
}

.sidenav li>a {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    height: 50px;
    line-height: 45px;
}

.side_inn_list {
    margin-left: 20px;
}

.input-field.col label {
    left: 1rem;
}

.bt_line{
    border-bottom: 1px solid #0eb382;
}

.btn:hover, .btn-large:hover, .btn-small:hover {
    background-color:#0eb382;
}
.container{
    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    width: 80vw;
}

.row {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
    margin-bottom: 0;
}

.search_form{
    background: url(static/img/photo_search.jpg) center center cover no-repeat fixed;
}