{% extends 'base.html' %}
{%block recipe%}
<div class="row">
	<form class="col s12">
		<div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">account_circle</i>
				<input id="icon_prefix" type="text" class="validate">
				<label for="icon_prefix">Meal</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<input id="icon_pass" type="tel" class="validate">
				<label for="icon_pass">Name</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<textarea id="icon_reppass" type="tel" class="validate"></textarea>
				<label for="icon_reppass">repeat password</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<textarea id="icon_reppass" type="tel" class="validate"></textarea>
				<label for="icon_reppass">Ingredient</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<textarea id="icon_reppass" type="tel" class="validate"></textarea>
				<label for="icon_reppass">Energy</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<textarea id="icon_reppass" type="tel" class="validate"></textarea>
				<label for="icon_reppass">Photo</label>
			</div>
		</div>
        <div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<textarea id="icon_reppass" type="tel" class="validate"></textarea>
				<label for="icon_reppass">Video</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4 push-s4">
				<a class="waves-effect waves-light btn">Add</a>
			</div>
		</div>

	</form>
</div>

{%endblock%}