{% extends 'base.html' %}
{%block recipe%}


<div class="row">
	<form action="{{ url_for('add_recipe') }}" method="POST" class="col s12">
		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<select id="recipe_meal" name="recipe_meal">
                    <option value="" disabled selected>Choose a time for this recipe</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Other">Other</option>
                </select>
				<label><strong>Meal select</strong></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<input id="recipe_name" name="recipe_name" class="validate">
				<label for="recipe_name"><i>Name</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe_ingredients" name="recipe_ingredients" class="validate"></textarea>
				<label for="recipe_ingredients"><i>Ingredient</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe" name="recipe"  class="validate"></textarea>
				<label for="recipe"><i>Explain How you make this food</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<select id="recipe_energy" name="recipe_energy">
                    <option value="" disabled selected>How much Energy does this food have?</option>
                    <option value="Low calorie">Low calorie</option>
                    <option value="High calorie">High calorie</option>
                </select>
				<label><i>Energy select</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe_photo" name="recipe_photo" class="validate"></textarea>
				<label for="recipe_photo"><i>Any link of a Photo for this food?</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe_video" name="recipe_video" class="validate"></textarea>
				<label for="recipe_video"><i>Any link of a Video for this food?</i></label>
			</div>
		</div>

        <div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<select id="recipe_username" name="recipe_username">
                    <option value="{{active_user}}" selected>{{active_user}}</option>
                </select>
				<label>Active user</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<button class="btn waves-effect waves-light" type="submit">Add  recipe
                <i class="material-icons right">playlist_add</i>
                </button>
			</div>
		</div>

	</form>
</div>

{%endblock%}