<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>CooKBooK</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css"
		integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<!-- <link href="tyle.css"> -->
	<link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
</head>

<body>

	<nav>
		<div class="nav-wrapper">
			<a href="{{url_for('find_recipe')}}" data-target="mobile-demo"
				class="sidenav-trigger"><i class="material-icons">menu</i></a>
			<a href="{{url_for('find_recipe')}}"
				class="brand-logo">CooKBooK<span><i class="fas fa-utensils"></i></span></a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{{url_for('find_recipe')}}">Home</a></li>
				{% if active_user%}
				<li><a href="{{url_for('add_recipe')}}"><i class="material-icons left">add</i>Add your recipe</a></li>
				<li>
					<ul id="dropdown1" class="dropdown-content">
						<li><a href="{{url_for('my_recipe')}}">My recipes</a></li>
						<li><a href="{{url_for('logout')}}">Log out</a></li>
					</ul>
				</li>
				<li><a class="dropdown-trigger" href="#!"
						data-target="dropdown1"><b>{{active_user}}</b><i class="material-icons right">arrow_drop_down</i></a>
				</li>
				{% else %}

                
                <li id="signinDrop"><a  href="#!">Test<i class="material-icons right">arrow_drop_down</i></a>
				</li>



                <div id="signinBox">
                drop down
                
                </div>

                


				<li>Sign in
					<ul id="dropdown1" class="dropdown-content">
						<li>
							<div class="row">
								<form action="{{ url_for('sign_in') }}" method=POST class="col s12">
									<div class="row">
										<div class="input-field col ">
											<i class="material-icons prefix">account_circle</i>
											<label for="exampleInputEmail1" >Username</label>
											<input type="text" class="form-control" name="username" placeholder="Username" required>
		                                </div>
										</div>
										<div class="row">
											<div class="input-field col ">
												<i class="material-icons prefix">vpn_key</i>
												<label for="exampleInputPassword1">Password</label>
												<input type="password" class="form-control" name="pass" placeholder="Password" required>
		                                	</div>
											</div>
											{% if invalid_username %}
											<div class="row">
												<div class="input-field col ">
													<p class="">This username already exists!</p>
												</div>
											</div>
											{% endif %}
											<div class="row">
												<div class="input-field col ">
													<button type="submit" class="btn btn-primary btn-block">Log in</button>
												</div>
											</div>
								</form>
							</div>
						</li>
					</ul>
				</li>
				<li><a class="dropdown-trigger" href="#!"
						data-target="dropdown1"><i class="material-icons right">arrow_drop_down</i></a>






				{% endif %}
			</ul>
			<ul class="sidenav" id="mobile-demo">
				{% if active_user%}
				<li><a href="{{url_for('add_recipe')}}"><i class="material-icons left">add</i>Add recipe</a></li>
				<li><a class="" href="#!" data-target=""><b>{{active_user}}</b></a>
				</li>
				<li>
					<ul class="side_inn_list">
						<li><a href="{{url_for('my_recipe')}}">My recipes</a></li>
						<li><a href="{{url_for('logout')}}">Log out</a></li>
					</ul>
				</li>
				{% else %}
				<li><a href="{{url_for('sign_in')}}">Sign in<span><i class="fas fa-sign-in-alt"></i></span></a></li>
				<li><a href="{{url_for('sign_up')}}">Sign up<span><i class="fas fa-sign-out-alt"></i></span></a></li>
				{% endif %}
			</ul>
		</div>
	</nav>

	{%block recipe%}
	{%endblock%}

	<footer class="page-footer">
		<div class="">
			<div class="row">
				<div class="col l6 s12">
					<h5 class="white-text">CooKBooK</h5>
					<p class="grey-text text-lighten-4"></p>
				</div>
				<div class="col l4 offset-l2 s12">
					<p class="white-text">This application is made to help food lovers find their desire recipes.</p>
					<ul>
						<li><a href="https://github.com/meghdadyazdi" target="_blank"><i class="fab fa-github"></i></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="row footer-copyright">
			<div class="col">
				© 2020 Copyright
				<i>Meghdad</i>
			</div>
		</div>
	</footer>



	<!-- <footer class="footer-distributed">

		<div class="footer-left">

			<h3>WebDev<span>Trick</span></h3>

			<p class="footer-links">
				<a href="#">Home</a>
				·
				<a href="#">Blog</a>
				·
				<a href="#">Pricing</a>
				·
				<a href="#">About</a>
				·
				<a href="#">Faq</a>
				·
				<a href="#">Contact</a>
			</p>

			<p class="footer-company-name">webdevtrick &copy; 2019</p>
		</div>

		<div class="footer-center">

			<div>
				<i class="fa fa-map-marker"></i>
				<p><span>21 Revolution Street</span> Delhi, India</p>
			</div>

			<div>
				<i class="fa fa-phone"></i>
				<p>+1 555 123456</p>
			</div>

			<div>
				<i class="fa fa-envelope"></i>
				<p><a href="mailto:support@company.com">contact@webdevtrick.com</a></p>
			</div>

		</div>

		<div class="footer-right">

			<p class="footer-company-about">
				<span>About the company</span>
				Web Dev Trick is a blog for web designers, graphic designers, web developers &amp; SEO Learner.
			</p>

			<div class="footer-icons">

				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>

			</div>

		</div>

	</footer> -->









	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
		integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script src="{{url_for('static', filename='js/jquery.js')}}"></script>
</body>

</html>