{% extends 'base.html' %} {%block recipe%}






<div id="site-content" class="row">
	<form action="{{ url_for('update_recipe', recipe_id=user_recipe._id) }}" method="POST" class="col s12" enctype="multipart/form-data">
		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<select id="recipe_meal" name="recipe_meal">
                    {% if user_recipe.recipe_meal == 'Breakfast' %}
                    <option value="" disabled >Choose a time for this recipe</option>
                    <option value="Breakfast" selected>Breakfast</option>
                    <option value="Lunch">Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Other">Other</option>
                    {% elif user_recipe.recipe_meal == 'Lunch'%}
                    <option value="" disabled >Choose a time for this recipe</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch" selected>Lunch</option>
                    <option value="Dinner">Dinner</option>
                    <option value="Other">Other</option>
                    {% elif user_recipe.recipe_meal == 'Dinner'%}
                    <option value="" disabled >Choose a time for this recipe</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch" >Lunch</option>
                    <option value="Dinner" selected>Dinner</option>
                    <option value="Other">Other</option>
                    {% elif user_recipe.recipe_meal == 'Other'%}
                    <option value="" disabled >Choose a time for this recipe</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch" >Lunch</option>
                    <option value="Dinner" >Dinner</option>
                    <option value="Other" selected>Other</option>
                    {% else %}
                    <option value="" disabled selected>Choose a time for this recipe</option>
                    <option value="Breakfast">Breakfast</option>
                    <option value="Lunch" >Lunch</option>
                    <option value="Dinner" >Dinner</option>
                    <option value="Other">Other</option>
                    {% endif%}
                </select>
				<label>Meal select</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{user_recipe.recipe_name}}">
				<label for="recipe_name"><i>Name</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe_ingredients" name="recipe_ingredients" class="materialize-textarea validate" >{{user_recipe.recipe_ingredients}}</textarea>
				<label for="recipe_ingredients"><i>Ingredient</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe" name="recipe"  class="materialize-textarea validate">{{user_recipe.recipe}}</textarea>
				<label for="recipe"><i>Explain How you make this food</i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<select id="recipe_energy" name="recipe_energy">
                    {% if user_recipe.recipe_energy == 'low calories' %}
                    <option value="" disabled>How much Energy does this food have?</option>
                    <option value="Low calories" selected>Low calories</option>
                    <option value="Medium calories">Medium calories</option>
                    <option value="High calories">High calories</option>
                    {% elif user_recipe.recipe_energy == 'medium calories'%}
                    <option value="" disabled>How much Energy does this food have?</option>
                    <option value="Low calories" >Low calories</option>
                    <option value="Medium calories" selected>Medium calories</option>
                    <option value="High calories" >High calories</option>
                    {% elif user_recipe.recipe_energy == 'high calories'%}
                    <option value="" disabled>How much Energy does this food have?</option>
                    <option value="Low calories" >Low calories</option>
                    <option value="Medium calories" >Medium  calories</option>
                    <option value="High calories" selected>High calories</option>
                    {% else%}
                    <option value="" disabled selected>How much Energy does this food have?</option>
                    <option value="Low calories" >Low calories</option>
                    <option value="Medium calories" >Medium calories</option>
                    <option value="High calories" >High calories</option>
                    {% endif%}
                </select>
				<label><i>Energy select</i></label>
			</div>
		</div>

		<!-- <div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<textarea id="recipe_photo" name="recipe_photo" class="materialize-textarea validate">{{user_recipe.recipe_photo}}</textarea>
				<label for="recipe_photo"><i>Any link of a Photo for this food?</i></label>
			</div>
		</div> -->



        <div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<!-- <textarea id="recipe_photo" name="recipe_photo" class="materialize-textarea validate"></textarea> -->
                <span><i>Upload a photo for your recipe<i></span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                <input type="file" name="recipe_photo" value="https://cookbook-meghdad.herokuapp.com/photo/{{user_recipe.recipe_photo}}">
                <!-- <input type="submit"> -->
				<label for="recipe_photo"><i></i></label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<select id="recipe_username" name="recipe_username">
                    <option value="{{active_user}}" selected>{{active_user}}</option>
                </select>
				<label>Active user</label>
			</div>
		</div>

		<div class="row">
			<div class="input-field col s10 push-s1 m6 push-m3">
				<button class="btn waves-effect waves-light" type="submit">Edit  recipe
                <i class="material-icons right">playlist_add</i>
                </button>
			</div>
		</div>


		<div class=" col d-none">
			<select  name="recipe_date">
                <option id="recipe_date" value="" selected>Today's date</option>
            </select>
		</div>

        <div class=" col d-none">
			<select  name="recipe_rate1">
                <option id="recipe_rate1" type="number" value={{user_recipe.recipe_rate1}}></option>
            </select>
		</div>

        <div class=" col d-none">
			<select  name="recipe_rate2">
                <option id="recipe_rate2" type="number" value={{user_recipe.recipe_rate2}}></option>
            </select>
		</div>

        <div class=" col d-none">
			<select  name="recipe_rate3">
                <option id="recipe_rate3" type="number" value={{user_recipe.recipe_rate3}}></option>
            </select>
		</div>

        <div class=" col d-none">
			<select  name="recipe_rate4">
                <option id="recipe_rate4" type="number" value={{user_recipe.recipe_rate4}}></option>
            </select>
		</div>

        <div class=" col d-none">
			<select  name="recipe_rate5">
                <option id="recipe_rate5" type="number" value={{user_recipe.recipe_rate5}}></option>
            </select>
		</div>


	</form>
</div>

{%endblock%}