{% extends 'base.html' %} {%block recipe%}

<form action="{{ url_for('search_recipe') }}" method="POST" class="col m3 search_form" id="site-content">
	<div class="row">
		<div class="input-field col s10 push-s1 m6 push-m3">
			<div class="nav-wrapper">

				<div class="input-field bt_line">
					<input id="search" name="search_recipe" class="validate" type="search" placeholder="Find your recipe here..." required>
					<label class="label-icon" for="search"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</div>
			<!-- <input id="search_recipe" name="search_recipe" class="validate" type="search" placeholder="       Find your recipe ..." required>
			<label class="label-icon" for="search"><i class="material-icons">search</i></label> -->
			<div class="row">
				<div class="input-field col s4 push-s4 m4 push-m5">
					<button type="submit" class="btn btn-primary btn-block">Search</button>
				</div>
			</div>
		</div>
	</div>
</form>









<section class="container" id="site-content">
	{% for recipe in recipes %}
	<div class="row">
		<div class="input-field col s12 m3">
			<img src="{{recipe.recipe_photo}}" alt="{{recipe.recipe_name}}" width="150" height="150">
            </div>
			<div class="input-field col s12 m6 push-m1">
				{%if recipe.recipe_meal%}
                <div class="capital"><p> <strong>{{recipe.recipe_name}}</strong></div>
                <div class=""><p><strong> Energy:</strong><i> {{recipe.recipe_energy}} </i></div>                			
				<i> {{recipe.recipe_meal}}</i></p>
				{% else %}
				<!-- <p><strong>{{recipe.recipe_name}}: </strong>This food has
					<strong>{{recipe.recipe_energy}} </strong> and
					is recomended to have in any <strong>meals</strong></p> -->
				{% endif %}
			</div>
			<div class="row">
				<div class="col s12">
					<strong>Ingredients:</strong> {{recipe.recipe_ingredients}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>Recipe:</strong> {{recipe.recipe}}
				</div>
			</div>
			{%if "{{recipe.recipe_video}}"%}
			<!-- <iframe width="145" height="110" src="{{recipe.recipe_video}}"></iframe> -->
			{% endif %}
			<hr>
		</div>
		{% endfor %}
</section>

{%endblock%}