{% extends 'base.html' %}
{%block recipe%}





<section class="container">
	<div class="row">
		<h3>Your recipes:<h3>
				
	</div>
<div class="row main-row">
	{% for recipe in my_recipes %}
	
		<div class="col s12 m6 xl4 card-recipe p0 boxxx">
			<img src="{{url_for('photo', photoname=recipe.recipe_photo)}}" alt="{{recipe.recipe_name}}" style="">
			<div class="card-container capital">
				<h6 class="no-flow"><b>{{recipe.recipe_name}}</b></h6>
				<p class="no-flow"><strong> Energy:</strong><i> {{recipe.recipe_energy}} </i></p>
				<p class="no-flow">{{recipe.recipe_meal}}</p>
				
					<p class="no-flow">
						<strong>Ingredients:</strong> {{recipe.recipe_ingredients}}
					</p>
					<p class="no-flow">
						<strong>Recipe:</strong> {{recipe.recipe}}
					</p>
			</div>
            <a class="divLinkkk" href="{{url_for('one_my_recipe', recipe_id=recipe._id)}}"></a>
		</div>



			<!-- <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
				class="waves-effect waves-light btn btn_small blue">Edit</a>
			<a  href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" data-target="modal1" class="waves-effect waves-light btn btn_small modal-trigger">Delete</a> -->
		
	

	{% endfor %}

    </div>
</section>
{% if recipes_search %}
<div class="row">
	<div class="col s4 push-s4">
		<p>Oops! No result. Try another food or enjoy are latest food</p>
	</div>
</div>
{% endif%}
{%endblock%}