{% extends 'base.html' %}

{%block recipe%}


<section class="container">
	<div class="row">
		<h3>Your recipes:<h3>
				<div class="input-field col s6 push-s3">
				</div>
	</div>

	{% for recipe in my_recipes %}
	<div class="row">
		<div class="input-field col s12 m3">
			<img src="{{recipe.recipe_photo}}" alt="{{recipe.recipe_name}}" width="150" height="150">
            </div>
			<div class="input-field col s12 m6 push-m1">
				{%if recipe.recipe_meal%}
                <div class="capital"><p> <strong>{{recipe.recipe_name}}</strong></div>
                <div class=""><p><strong> Energy:</strong><i> {{recipe.recipe_energy}} </i></div>                			
				<i> {{recipe.recipe_meal}}</i></p>
				{% else %}
				{% endif %}
			</div>
			<div class="row">
				<div class="col s12">
					<strong>Ingredients:</strong> {{recipe.recipe_ingredients}}
				</div>
			</div>
			<div class="row">
				<div class="col">
					<strong>Recipe:</strong> {{recipe.recipe}}
				</div>
			</div>
			{%if "{{recipe.recipe_video}}"%}
			<!-- <iframe width="145" height="110" src="{{recipe.recipe_video}}"></iframe> -->
			{% endif %}
			<a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}"
				class="waves-effect waves-light btn btn_small blue">Edit</a>
			<a  href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" data-target="modal1" class="waves-effect waves-light btn btn_small modal-trigger">Delete</a>
			<hr>
		</div>
	</div>
	{% endfor %}
</section>
{% if recipes_search %}
<div class="row">
	<div class="col s4 push-s4">
		<p>Oops! No result. Try another food or enjoy are latest food</p>
	</div>
</div>
{% endif%}
{%endblock%}