{% extends 'base.html' %}
{%block recipe%}



<section class="container single-container">
	<div class="row single-row">
		<div class="col s12 card-recipe p0 m0 single-card-recipe">
			<img src="{{recipe.recipe_photo}}" alt="{{recipe.recipe_name}}" class="single-img">
			<div class="card-container capital">
				<h6 class=""><b>{{recipe.recipe_name}}</b></h6>
				<p class=""><strong> Energy:</strong><i> {{recipe.recipe_energy}} </i></p>
				<p class="">{{recipe.recipe_meal}}</p>				
					<p class="">
						<strong>Ingredients:</strong> {{recipe.recipe_ingredients}}
					</p>
					<p class="">
						<strong>Recipe:</strong> {{recipe.recipe}}
					</p>
			</div>
		</div>
	</div>
</section>
{%endblock%}