{% extends 'base.html' %}
{%block recipe%}



<section class="container single-container">
	<div class="row single-row">
		<div class="col s12 card-recipe p0 m0 single-card-recipe">
			<img src="{{url_for('photo', photoname=recipe.recipe_photo)}}" alt="{{recipe.recipe_name}}" class="single-img">
			<div class="card-container capital">
				<h6><b>{{recipe.recipe_name}}</b></h6>
				<p><strong> Energy:</strong><i> {{recipe.recipe_energy}} </i></p>
				<p>{{recipe.recipe_meal}}</p>
				<p><strong>Ingredients:</strong> {{recipe.recipe_ingredients}}</p>
				<p><strong>Recipe:</strong> {{recipe.recipe}}</p>
				<p><i>{{recipe.recipe_date[4:7]+"-"+recipe.recipe_date[8:10]+"-"+recipe.recipe_date[11:15]+" ("+recipe.recipe_date[16:21]+")"}}</i>
				</p>


				<div class="row">
					<div class="col">
						<span><i class="fas fa-star star-1"></i></span>
						<span><i class="fas fa-star star-2"></i></span>
						<span><i class="fas fa-star star-3"></i></span>
						<span><i class="fas fa-star star-4"></i></span>
						<span><i class="fas fa-star star-5"></i></span>
					</div>
				</div>



				<form action="{{ url_for('rate_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
					
						<div class="input-field col s10 m6">
							<button class="btn waves-effect waves-light" type="submit">Rate it!</button>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate11">
                               <option id="recipe_rate11" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate22">
                               <option id="recipe_rate22" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate33">
                               <option id="recipe_rate33" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate44">
                               <option id="recipe_rate44" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate55">
                               <option id="recipe_rate55" value="" selected>Today's date</option>
                            </select>
						</div>

                        








				</form>




			</div>
		</div>
	</div>
</section>
{%endblock%}