{% extends 'base.html' %}
{%block recipe%}

<section class="container single-container">
	<div class="row single-row">
		<div class="col s12 card-recipe p0 m0 single-card-recipe">
			<img src="{{url_for('photo', photoname=recipe.recipe_photo)}}" alt="{{recipe.recipe_name}}" class="single-img">
			<div class="card-container">
				<h6 class="capital"><b>{{recipe.recipe_name}}</b></h6>
				<p><strong> Energy:</strong><i class="capital"> {{recipe.recipe_energy}} </i></p>
				<p>{{recipe.recipe_meal}}</p>
				<p><strong>Ingredients:</strong> {{recipe.recipe_ingredients}}</p>
				<p><strong>Recipe:</strong> {{recipe.recipe}}</p>
				<p><i>{{recipe.recipe_date[4:7]+"-"+recipe.recipe_date[8:10]+"-"+recipe.recipe_date[11:15]+" ("+recipe.recipe_date[16:21]+")"}}</i>
				</p>

				

				<div class="row">
					<div class="col">
						{%set num_raters = recipe.recipe_rate1+recipe.recipe_rate2+recipe.recipe_rate3+recipe.recipe_rate4+recipe.recipe_rate5 %}
						{% if num_raters == 0%}
						<span><i class="fas fa-star star-1"></i></span>
						<span><i class="fas fa-star star-2"></i></span>
						<span><i class="fas fa-star star-3"></i></span>
						<span><i class="fas fa-star star-4"></i></span>
						<span><i class="fas fa-star star-5"></i></span>
						<div><i>This recipe is not rated yet. Be the first one to rate it!</i></div>
						{%else%}
                        {% set excellent= ((recipe.recipe_rate5/num_raters)*100)|int%}
			           	{% set verygood= ((recipe.recipe_rate4/num_raters)*100)|int%}
		        		{% set good= ((recipe.recipe_rate3/num_raters)*100)|int%}
			        	{% set average= ((recipe.recipe_rate2/num_raters)*100)|int%}
			        	{% set bad= ((recipe.recipe_rate1/num_raters)*100)|int%}
						{% if rate == 1%}
						<span><i class="fas fa-star star-1 rate11"></i></span>
						<span><i class="fas fa-star star-2"></i></span>
						<span><i class="fas fa-star star-3"></i></span>
						<span><i class="fas fa-star star-4"></i></span>
						<span><i class="fas fa-star star-5"></i></span>
						{% elif rate == 2%}
						<span><i class="fas fa-star star-1 rate22"></i></span>
						<span><i class="fas fa-star star-2 rate22"></i></span>
						<span><i class="fas fa-star star-3"></i></span>
						<span><i class="fas fa-star star-4"></i></span>
						<span><i class="fas fa-star star-5"></i></span>
						{% elif rate == 3%}
						<span><i class="fas fa-star star-1 rate33"></i></span>
						<span><i class="fas fa-star star-2 rate33"></i></span>
						<span><i class="fas fa-star star-3 rate33"></i></span>
						<span><i class="fas fa-star star-4"></i></span>
						<span><i class="fas fa-star star-5"></i></span>
						{% elif rate == 4%}
						<span><i class="fas fa-star star-1 rate44"></i></span>
						<span><i class="fas fa-star star-2 rate44"></i></span>
						<span><i class="fas fa-star star-3 rate44"></i></span>
						<span><i class="fas fa-star star-4 rate44"></i></span>
						<span><i class="fas fa-star star-5"></i></span>
						{% elif rate == 5%}
						<span><i class="fas fa-star star-1 rate55"></i></span>
						<span><i class="fas fa-star star-2 rate55"></i></span>
						<span><i class="fas fa-star star-3 rate55"></i></span>
						<span><i class="fas fa-star star-4 rate55"></i></span>
						<span><i class="fas fa-star star-5 rate55"></i></span>
						{% else%}
						<span><i class="fas fa-star star-1"></i></span>
						<span><i class="fas fa-star star-2"></i></span>
						<span><i class="fas fa-star star-3"></i></span>
						<span><i class="fas fa-star star-4"></i></span>
						<span><i class="fas fa-star star-5"></i></span>

						{% endif %}
						{% endif%}
					</div>
				</div>

				{% if id in user_in.rated_recipes %}
                {% if num_raters != 0%}
                <div class="row p0 m0">
					<div class="row">
						<div class="col s12 m6">
							<div class="col s3 m4 p0"><i>Excellent</i></div>
							<div class="col s2 m2 p0"><i><b>{{excellent}}%</b></i></div>
							<div class="col s4 m6 excellent"
								style="background: linear-gradient(90deg, #00b67a {{excellent}}%, #fef0e6 {{excellent}}%);">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s12 m6">
							<div class="col s3 m4 p0"><i>Very good</i></div>
							<div class="col s2 m2 p0"><i><b>{{verygood}}%</b></i></div>
							<div class="col s4 m6 excellent"
								style="background: linear-gradient(90deg, #73cf11 {{verygood}}%, #fef0e6 {{verygood}}%);">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s12 m6">
							<div class="col s3 m4 p0"><i>Good</i></div>
							<div class="col s2 m2 p0"><i><b>{{good}}%</b></i></div>
							<div class="col s4 m6 excellent"
								style="background: linear-gradient(90deg, #ffce00 {{good}}%, #fef0e6 {{good}}%);"></div>
						</div>
					</div>

					<div class="row">
						<div class="col s12 m6">
							<div class="col s3 m4 p0"><i>Average</i></div>
							<div class="col s2 m2 p0"><i><b>{{average}}%</b></i></div>
							<div class="col s4 m6 excellent"
								style="background: linear-gradient(90deg, #ff8622 {{average}}%, #fef0e6 {{average}}%);">
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col s12 m6">
							<div class="col s3 m4 p0"><i>Bad</i></div>
							<div class="col s2 m2 p0"><i><b>{{bad}}%</b></i></div>
							<div class="col s4 m6 excellent"
								style="background: linear-gradient(90deg, #ff3722 {{bad}}%, #fef0e6 {{bad}}%);"></div>
						</div>
					</div>

				</div>
                {% endif %}


				
				<div><i>You have rated this recipe so you can not submit your rate once more!<i></div>
                {% elif not active_user %}
                <div><i>To submit your rate for this recipe you should first sign in or sign up!<i></div>
                               
                {% else %}
                <form action="{{ url_for('rate_recipe', recipe_id=recipe._id) }}" method="POST" class="col s12">
                    <div class="input-field col s10 m6">
							<button class="btn waves-effect waves-light" type="submit">Rate it!</button>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate11">
                               <option id="recipe_rate11" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate22">
                               <option id="recipe_rate22" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate33">
                               <option id="recipe_rate33" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate44">
                               <option id="recipe_rate44" value="" selected>Today's date</option>
                            </select>
						</div>

                        <div class=" col d-none">
							<select  name="recipe_rate55">
                               <option id="recipe_rate55" value="" selected>Today's date</option>
                            </select>
						</div>
				</form>
                 {% endif %}
			</div>
		</div>
	</div>
</section>
{%endblock%}