{% extends 'base.html' %}





<form action="{{ url_for('search') }}" method="POST" class="col s12">
<div class="row">
	<div class="input-field col s6 push-s3">
		<i class="material-icons prefix">search</i>
		<input id="q" name="q" class="validate">
		<label for="q"><i>Find a recipe here ...</i></label>
        <div class="row">
        <div class="input-field col s4 push-s4">
          <button type="submit" class="btn btn-primary btn-block">Search</button>
        </div>
      </div>
	</div>
</div>
</form>