{% extends 'base.html' %}
{%block recipe%}




<form action="{{ url_for('search_recipe') }}" method="POST" class="col m3 search_form">
	<div class="row">
		<div class="input-field col s10 push-s1 m6 push-m3">
			<div class="nav-wrapper">

				<div class="input-field bt_line">
					<input id="search_recipe" name="search_recipe" class="validate" type="search" placeholder="Find your recipe here..." required>
					<label class="label-icon" for="search_recipe"><i class="material-icons">search</i></label>
					<i class="material-icons">close</i>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s4 push-s4 m4 push-m5">
					<button type="submit" class="btn btn-primary btn-block">Search</button>
				</div>
			</div>
		</div>
	</div>
</form>

{% if recipes_search[0] %}
<section class="container">
<div class="row">
	{% for recipe in recipes_search %}
	
		<div class="col s12 m6 xl4 card-recipe p0 m0 boxxx">
			<img src="{{recipe.recipe_photo}}" alt="{{recipe.recipe_name}}" style="">
			<div class="card-container capital">
				<h6 class="no-flow"><b>{{recipe.recipe_name}}</b></h6>
				<p class="no-flow"><strong> Energy:</strong><i> {{recipe.recipe_energy}} </i></p>
				<p class="no-flow">{{recipe.recipe_meal}}</p>
				
					<p class="no-flow">
						<strong>Ingredients:</strong> {{recipe.recipe_ingredients}}
					</p>
					<p class="no-flow">
						<strong>Recipe:</strong> {{recipe.recipe}}
					</p>
			</div>
            <a class="divLinkkk" href="{{url_for('one_recipe', recipe_id=recipe._id)}}"></a>
		</div>
		{% endfor %}
</section>
{% else%}
<div class="row">
	<div class="col s6 push-s3">
		<p>Oops! No result. Try another food</p>
	</div>
</div>
{% endif %}


{%endblock%}