{% extends 'base.html' %}
{%block recipe%}






<div class="row">
	<form method=POST class="col s12">
		<div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">account_circle</i>
				<label for="exampleInputEmail1">Username</label>
				<input type="text" class="form-control" name="username" placeholder="Username">
        </div>
			</div>
			<div class="row">
				<div class="input-field col s4 push-s4">
					<i class="material-icons prefix">vpn_key</i>
					<label for="exampleInputPassword1">Password</label>
					<input type="password" class="form-control" name="pass" placeholder="Password">
        </div>
				</div>
				{% if invalid_pass %}
				<div class="row">
					<div class="input-field col s4 push-s4">
						<p class="">Invalid username or password</p>
					</div>
				</div>
				{% endif %}
				<div class="row">
					<div class="input-field col s4 push-s4">
						<button type="submit" class="btn btn-primary btn-block">Log In</button>
					</div>
				</div>
	</form>
</div>
{%endblock%}