{% extends 'base.html' %}
{%block recipe%}



<nav>
	<div class="nav-wrapper">
		<a href="{{url_for('find_recipe')}}" class="brand-logo">CooKBooK</a>
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a href="{{url_for('find_recipe')}}">Home</a></li>
			
			{% if active_user%}
            <li><a href="{{url_for('add_recipe')}}"><i class="material-icons left">add</i>Add your recipe</a></li>
			<li><a href="{{url_for('sign_in')}}"><b>{{active_user}}</b></a></li>
			{% else %}
			<li><a href="{{url_for('sign_in')}}">Sign in</a></li>
			<li><a href="{{url_for('sign_up')}}">Sign up</a></li>
			{% endif %}
		</ul>
	</div>
</nav>







<div class="row">
	<form method=POST class="col s12">
		<div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">account_circle</i>
				<label for="exampleInputEmail1">Username</label>
                    <input type="text" class="form-control" name="username" placeholder="Username">
			</div>
		</div>
		<div class="row">
			<div class="input-field col s4 push-s4">
				<i class="material-icons prefix">vpn_key</i>
				<label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" name="pass" placeholder="Password">
			</div>
		</div>
        {% if invalid_username %}
				<div class="row">
					<div class="input-field col s4 push-s4">
						<p class="">This username already exists!</p>
					</div>
				</div>
		{% endif %}
		<div class="row">
			<div class="input-field col s4 push-s4">
				<button type="submit" class="btn btn-primary btn-block">Register</button>
			</div>
		</div>
	</form>
</div>

{%endblock%}